* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    --primary-color: #0f1b4c;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 18px 16px;
    min-width: 98px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.fixed-header {
    background: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.hero-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 90px);
    background: #e6f0ff;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.nav-bar ul {
    display: flex;
    margin-left: 50px;
}

.nav-bar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 7px 14px;
}

.nav-bar ul a:hover {
    text-decoration: underline;
}

.nav-bar .actions {
    margin-left: auto;
}

.nav-bar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.nav-bar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .subtitle {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.19;
    color: #000336;
}

.hero .info {
    width: 50.36%;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* Client */
.client {
    margin-top: 79px;
    padding: 43px 0 64px;
}

.client .row {
    display: flex;
    justify-content: space-between;
}

.client .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.client .row-desc {
    margin-top: 23px;
}

.client .brands {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client .brands a {
    display: flex;
    align-items: center;
    padding: 0 42px;
    height: 91px;
    border-radius: 12px;
}

.client .brands a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Guides */
.guide {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guide .subtitle {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guide .subtitle::before {
    position: absolute;
    content: "";
    display: inline-block;
    background: currentColor;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.guide .desc {
    margin: 20px auto 0;
    width: 459px;
    max-width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}

.guide .list {
    margin: 70px;
    justify-content: center;
    display: flex;
}

.guide .item {
    margin: 0 70px;
    text-align: center;
}

.list .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
}

.list .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}

.list .arrow {
    margin-left: 6px;
}

.guide-cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.guide-cta .btn {
    min-width: 170px;
}

/* Feature */
.feature {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}

.feature .subtitle {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.feature .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.feature .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.feature .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}

.feature .link .arrow {
    margin-left: 8px;
}

.feature .list {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    gap: 30px;
    border-radius: 12px;
}

.feature .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.feature .item .body {
    padding: 17px 20px 24px;
    background: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.feature .title {
    margin-top: 0;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #000339;
}

.feature .item .desc {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
}

.feature .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.feature .item .icon {
    margin-left: 23px;
}

.feature .item .icon:first-child {
    margin-left: 0;
}

.feature .item .label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.01em;
    color: #4d4d52;
}

/* Stats */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .row {
    display: flex;
}

.stats .content {
    width: 1048px;
}

.stats .info,
.stats .img-block {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    border-radius: 0px 0px 12px 12px;
    padding: 45px 22px 40px;
    background: #fff;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .subtitle {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.stats .subtitle::before {
    content: "";
    position: absolute;
    top: -10px;
    display: block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.stats-trend .seperate {
    height: 1.2px;
    margin-top: 25px;
    background: #e9e9e9;
}

.stats .avatar-block {
    margin-top: 26px;
    gap: 16px 14px;
    flex-wrap: wrap;
    display: flex;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
}

.stats .avatar:first-child {
    margin-left: 0px;
}

.stats .row-qty {
    justify-content: space-between;
    margin-top: 110px;
    padding: 0px 32px;
}

.stats .qty {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000;
}

.stats .qty-desc {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7b8087;
}

/* Subscription */
.subscription {
    margin-top: 90px;
}

.subscription .body {
    display: flex;
    position: relative;
    align-items: center;
    height: 370px;
    background: #063183;
    border-radius: 20px;
}

.subscription .info {
    width: 671px;
    max-width: 100%;
    padding: 0 80px;
}

.subscription .subtitle {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}

.subscription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #fff;
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #fff;
    color: #002366;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* Footer */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7a7a7e;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    line-height: 1.75;
}

.footer .social {
    margin-top: 40px;
    display: flex;
}

.footer .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background: #f9f9f9;
}

.footer .social-link + .social-link {
    margin-left: 16px;
}

.footer .social-link:hover {
    background: #ccc;
}

.footer .row-bottom {
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    color: #c2c2c2;
}
